@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap");
@import "config";
@import "utilities";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-size: 1rem;
  line-height: 1.5;
  background: #333;
  color: #fff;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: $primary-color;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}

// navbar
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: 1px solid $primary-color;
  opacity: 0.9;

  ul {
    display: flex;
  }
  a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem;

    &:hover {
      color: $primary-color;
    }
  }
}

// section
.landing {
  position: relative;
  background: url(/dist/img/pexels-pixabay-270348.jpg) no-repeat center
    center/cover;
  height: 100vh;

  &-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
